.content-container {
  border-width: $line-width-xl;
  border-style: solid;
  border-radius: $line-width-xl;
}

.content-container-neutral {
  border-color: $c-gray-600;
}

.content-container-action {
  border-color: $c-gray-600;
}

.content-container-right {
  border-color: $c-gray-600;
}

.content-container-wrong {
  border-color: $c-gray-600;
}

.content-container-warning {
  border-color: $c-gray-600;
}

.content-container-attention {
  border-color: $c-gray-600;
}

.content-container-header-wrapper {
    display: table;
    width: 100%;
}

.content-container-header {
	font-size: $font-size-m;
	line-height: $line-height-m;
  position: relative;
  display: table-row;
  overflow: auto;
}

.content-container-toggle,
.content-container-title {
    display: table-cell;
    width: 0;
}

.content-container-title {
    padding: 8px;
    vertical-align: middle;
}


.content-container-title {
  font-weight: bold;
  width: 100%;
}

.content-container-body {
  padding-left: $exercise-horizontal-content-spacing-xs;
  padding-right: $exercise-horizontal-content-spacing-xs;
  padding-top: $exercise-vertical-content-spacing-xs;
  padding-bottom: $exercise-vertical-content-spacing-xs;
}


.content-container-toggle-btn {
  min-width: 32px;
  min-height: 44px;
  position: relative;
  display: inline-block;
  top: -4px;
  right: - 4px;
  margin-bottom: -8px;
  text-align: center;
  box-sizing: border-box;
  padding: 12px;
  text-align: horizontal;
}


.content-container-toggle-icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.content-container-toggle-icon span {
  position: absolute;
  transition: .3s;
  background: $c-text-medium;
  border-radius: 2px;
}

.content-container-toggle-icon span:first-of-type {
  height: 20px;
  width: 2px;
  left: 9px;
  transform: rotate(90deg);
}

.content-container-toggle-icon span:last-of-type {
  left: 0;
  right: 0;
  height: 2px;
  top: 9px;
  transform: rotate(180deg);
}

.content-container-closed .content-container-toggle-icon span:first-of-type {
  transform: rotate(0);
}

.content-container-closed .content-container-toggle-icon span:last-of-type {
  transform: rotate(0);
}
